# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files #
*.bak

# production
build/
static/

# testing
.cache
.pytest_cache/
